.config/fish/fishd.*
.config/nvim/undodir/*
.config/nvim/plugged/*
.config/nvim/.netrwhist
.config/ranger/bookmarks
.config/ranger/history
.config/awesome/count_unread_emails.py
.emacs.d/*
!.emacs.d/init.el
!.emacs.d/lisp/*
!.emacs.d/lisp
!.emacs.d/*.org