URxvt.intensityStyles:	false
URxvt.depth:		32
URxvt.scrollBar:	false
URxvt.pointerBlank: true
URxvt.reverseVideo: false
!URxvt.cursorColor2: black
URxvt.cursorColor:	white
URxvt.perl-ext-common:	default,resize-font,keyboard-select
!URxvt.perl-lib:		$HOME/.config/Scripts
!URxvt.url-launcher:	/usr/bin/xdg-open
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

!URxvt.keysym.Shift-Return: \033OM
!aka \r\n
!URxvt.keysym.Shift-Return: \015\012

!send alt enter for sclid
URxvt.keysym.Shift-Return: \033\015

URxvt.keysym.M-Up: command:\033]720;1\007
URxvt.keysym.M-Down: command:\033]721;1\007

URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

!URxvt.keysym.Shift-Up:   command:\033[1S
!URxvt.keysym.Shift-Down: command:\033[1T



! URxvt.keysym.M-K: \033[1;5A
! URxvt.keysym.M-J: \033[1;5B
! URxvt.keysym.M-H: \033[1;5D
! URxvt.keysym.M-L: \033[1;5C

!!string:\033[224;80
!URxvt.keysym.M-L: eval:paste_clipboard
!!URxvt.keysym.Control-K: eval:paste_clipboard
!URxvt.keysym.Mod1-J: string:\033[224;72
!URxvt.keysym.Mod1-H: string:\033[224;75
!URxvt.keysym.Mod1-L: string:\033[224;77


!URxvt.keysym.C-Escape: perl:keyboard-select:activate
!URxvt.keysym.C-slash: perl:keyboard-select:search

URxvt.fading: 0

URxvt.iso14755: False
URxvt.iso14755_52: False

Xcursor.theme: Adwaita

!URxvt.termName: xterm-256color
!URxvt.colorUL:		#4682B4

rofi.fake-transparency: true
rofi.lines: 8
rofi.bw: 0
rofi.opacity: 30
rofi.hide-scrollbar: true
rofi.width: 45


#include ".colors/xresources"

! contains font sizes and dpi
#include ".Xresources_screen_specific"
